body{
    display: grid;
    justify-content: center;
    padding: 5rem;
}

.tabs-container{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(255, 255, 255, 0%);
    border-radius: 3rem;
}

.tab-display{
    background-color: rgb(223, 252, 255);
    width: 40rem;
    height: 20rem;
}

.button-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(116, 153, 247);
    width: 5rem;

}

#tab2{
    display: none;
}

#tab3{
    display: none;
}

button{
    text-decoration: none;
    background-color: rgb(116, 153, 247);
    border: none;
    height: 2rem;
}

.button-tab1{
    background-color: rgb(78, 104, 170);
}